@model maps4.Models.Inmueble

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre esta propiedad: @Model.IdTipo</title>

    <!-- Metadatos Open Graph -->
    <meta property="og:title" content="Descubre esta propiedad: @Model.IdTipo">
    <meta property="og:description" content="@Model.Observaciones">
    <meta property="og:image" content="https://rsmap.azurewebsites.net/cargas/@(Model.IdInmueble)_1.jpg">
    <meta property="og:url" content="https://rsmap.azurewebsites.net/?inmuebleId=@Model.IdInmueble">
    <meta property="og:type" content="website">
</head>
<body>
    <!-- Contenido de la página -->
</body>
</html>

