@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /> @*Hace el signo de + del i del float circulo verde*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> @*Hace que los cajones del select se vean chidos*@
<link href="~/css/map.css" rel="stylesheet" />

<div id="map_canvas">
</div>
<div id="contenido-superior-derecho" class="boton-nuevo-acceso">
    <a id="lnkAcceso" class="btn-acceso boton-nuevo-acceso" data-bs-dismiss="modal">Iniciar Sesión</a>
    @if (ViewData["Mensaje"] != null)
    {

        <a id="lnkAcceso" class="btn-acceso boton-nuevo-acceso" data-bs-dismiss="modal">
            @ViewData["Mensaje"]
        </a>
    }
</div>
<div id="over_map">

    <a href="#" id="btnModal" class="float boton-nuevo-acceso"><i class="fa fa-plus my-float"></i></a>

    <div class="tipo1">
        <div class="letrero">Tipo: </div>

        <div class="dropdown">
            <select class="form-control" id="cboTipoPropiedad"></select>
        </div>
    </div>
    <div class="tipo1">
        <div class="letrero">Desde: </div>

        <div class="dropdown">
            <select id="ddlViewBy" onchange="scheduleA.call(this, event)" class="form-control">
                <option value="2500" selected="selected">$ 2,500</option>
                <option value="5000">$ 5,000</option>
                <option value="10000">$ 10,000</option>
                <option value="20000">$ 20,000</option>
                <option value="50000">$ 50,000</option>
                <option value="100000">$ 100,000</option>
                <option value="200000">$ 200,000</option>
                <option value="300000">$ 300,000</option>
                <option value="400000">$ 400,000</option>
                <option value="500000">$ 500,000</option>
                <option value="600000">$ 600,000</option>
                <option value="700000">$ 700,000</option>
                <option value="800000">$ 800,000</option>
                <option value="900000">$ 900,000</option>
                <option value="1000000">$ 1,000,000</option>
                <option value="1500000">$ 1,500,000</option>
                <option value="2000000">$ 2,000,000</option>
                <option value="2500000">$ 2,500,000</option>
                <option value="3000000">$ 3,000,000</option>
                <option value="3500000">$ 3,500,000</option>
                <option value="4000000">$ 4,000,000</option>
                <option value="5000000">$ 5,000,000</option>
                <option value="7000000">$ 7,000,000</option>
                <option value="8000000">$ 8,000,000</option>
                <option value="9000000">$ 9,000,000</option>
                <option value="10000000">$ 10,000,000</option>
                <option value="1000000000">> $ 10 M</option>
            </select>
        </div>
    </div>
    <div class="tipo1">
        <div class="letrero">Hasta: </div>

        <div class="dropdown">
            <select id="ddlViewBy2" onchange="scheduleB.call(this, event)" class="form-control">
                <option value="2500">$ 2,500</option>
                <option value="5000">$ 5,000</option>
                <option value="10000">$ 10,000</option>
                <option value="20000">$ 20,000</option>
                <option value="50000">$ 50,000</option>
                <option value="100000">$ 100,000</option>
                <option value="200000">$ 200,000</option>
                <option value="300000">$ 300,000</option>
                <option value="400000">$ 400,000</option>
                <option value="500000">$ 500,000</option>
                <option value="600000">$ 600,000</option>
                <option value="700000">$ 700,000</option>
                <option value="800000">$ 800,000</option>
                <option value="900000">$ 900,000</option>
                <option value="1000000" selected="selected">$ 1,000,000</option>
                <option value="1500000">$ 1,500,000</option>
                <option value="2000000">$ 2,000,000</option>
                <option value="2500000">$ 2,500,000</option>
                <option value="3000000">$ 3,000,000</option>
                <option value="3500000">$ 3,500,000</option>
                <option value="4000000">$ 4,000,000</option>
                <option value="5000000">$ 5,000,000</option>
                <option value="7000000">$ 7,000,000</option>
                <option value="8000000">$ 8,000,000</option>
                <option value="9000000">$ 9,000,000</option>
                <option value="10000000">$ 10,000,000</option>
                <option value="1000000000">> $ 10 M</option>
            </select>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <div id="btn-close-a">
                        Iniciar Sesion
                    </div>
                    <div id="btn-close-b">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>

               <div class="card-body">
                    <input class="form-control mb-3" type="text" placeholder="Correo" required name="correo" id="correo" />
                    <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="contra" id="contra" />
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary boton-iniciar-sesion" type="submit">Iniciar Sesion</button>
                    </div>
                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        </div>
                    }
                    <div id="closes-a"> ¿No tienes una cuenta? 
                        <div id="closes-b">
                            <a href="@Url.Action("Registrarse","Inicio")"> Regístrate!</a>
                        </div>
                        <div id="closes-c">
                            <a href="@Url.Action("CerrarSesion","hoME")">Cerrar Sesión</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalInmueble" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar inmueble</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    @* <h2 class="fs-5">Popover in a modal</h2> *@
                    @* <button class="btn btn-secondary">Upload images...</button> *@

                    @* <input type="file" id="imageInput" multiple />
                    <button id="uploadButton" class="btn btn-primary">Upload Images</button> *@

                    @* <button id="selectFilesButton">Select Images</button> *@
                    <input type="file" id="imageInput" multiple class="btn btn-success" />
                    <button id="uploadButton"  class="btn btn-primary">Upload Images</button>

                    @* <hr> *@
                    @* <h2 class="fs-5">Tooltips in a modal</h2>
                    <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">This link</a> and <a href="#" data-bs-toggle="tooltip" title="Tooltip">that link</a> have tooltips on hover.</p> *@
                </div>
                <input class="form-control mb-3" type="text" placeholder="Tipo" required name="tipo" id="tipo" />
                <input class="form-control mb-3" type="text" placeholder="Terreno" required name="terreno" id="terreno" />
                <input class="form-control mb-3" type="text" placeholder="Construcción" required name="construccion" id="construccion" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/index.js"></script>
}
