@model maps4.Models.Data;
@{
    ViewData["Title"] = "mapsMarkers";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /> @*Hace el signo de + del i del float circulo verde*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> @*Hace que los cajones del select se vean chidos*@
<link href="~/css/map.css" rel="stylesheet" />
<link href="~/css/modalInmueble.css" rel="stylesheet" />

<div id="map_canvas">
</div>


<div id="cortina-anuncios-container" onclick="toggleScroll()">
    <div id="anuncios-titulo">Anuncios</div>
    <div id="anuncios-scroll-container">
        <div id="cortina-anuncios">
            <p class="solicitar">Se solicita casa de un piso y 3 recámaras por Barrio de Analco, presupuesto de 1,200,000.</p>
            <p class="solicitar">Se solicita terreno de 500 m² para venta en zona céntrica.</p>
            <p class="solicitar">Se solicita oficina en renta, cerca del centro, con estacionamiento.</p>
            <p class="solicitar">Se solicita departamento en Zona Centro, 2 recámaras, máximo 10,000 mensuales.</p>
            <p class="solicitar">Se solicita casa en venta en Colonia Vista Hermosa, mínimo 4 recámaras, presupuesto de 5,000,000.</p>
            <p class="solicitar">Se solicita bodega en renta, 500 m², salida a carretera, 30,000 mensuales.</p>
            <p class="solicitar">Se solicita casa en renta, zona residencial, 4 recámaras, con jardín, máximo 20,000 mensuales.</p>
            <p class="solicitar">Se solicita terreno en zona campestre, 1,000 m², en 3,200,000.</p>
            <!-- Clonamos el contenido para un desplazamiento continuo -->
            <p class="solicitar">Se solicita casa de un piso y 3 recámaras por Barrio de Analco, presupuesto de 1,200,000.</p>
            <p class="solicitar">Se solicita terreno de 500 m² para venta en zona céntrica.</p>
            <p class="solicitar">Se solicita oficina en renta, cerca del centro, con estacionamiento.</p>
            <p class="solicitar">Se solicita departamento en Zona Centro, 2 recámaras, máximo 10,000 mensuales.</p>
            <p class="solicitar">Se solicita casa en venta en Colonia Vista Hermosa, mínimo 4 recámaras, presupuesto de 5,000,000.</p>
            <p class="solicitar">Se solicita bodega en renta, 500 m², salida a carretera, 30,000 mensuales.</p>
            <p class="solicitar">Se solicita casa en renta, zona residencial, 4 recámaras, con jardín, máximo 20,000 mensuales.</p>
            <p class="solicitar">Se solicita terreno en zona campestre, 1,000 m², en 3,200,000.</p>
        </div>
    </div>
</div>




<div id="contenido-superior-derecho" class="boton-nuevo-acceso">
    <a id="lnkAcceso" class="btn-acceso boton-nuevo-acceso" data-bs-dismiss="modal">Iniciar Sesión</a>
    @if (ViewData["Mensaje"] != null)
    {

        <a id="lnkAcceso" class="btn-acceso boton-nuevo-acceso" data-bs-dismiss="modal">
            @ViewData["Mensaje"]
        </a>
    }
</div>
<div id="over_map">

    <a href="#" id="btnModal" class="float" onclick="toggleMenu()"><i class="fa fa-plus my-float"></i></a>

    <div id="menu-flotante" class="menu-flotante" style="display: none;">
        <button onclick="iniciarSesion()">Iniciar Sesión</button>
        <button onclick="registrarse()">Registrarse</button>
        <button onclick="toggleMarquesina()">Ver Anuncios</button>
    </div>

    <div class="tipo1">
        <div class="letrero">Tipo: </div>

        <div class="dropdown">
            <select class="form-control" id="cboTipoPropiedad" onchange="showMan(this)"></select>
        </div>
    </div>
    <div class="tipo1">
        <div class="letrero">Desde: </div>

        <div class="dropdown">
            <select id="ddlViewBy" onchange="scheduleA.call(this, event)" class="form-control">
                <option value="2500" selected="selected">$ 2,500</option>
                <option value="5000">$ 5,000</option>
                <option value="10000">$ 10,000</option>
                <option value="20000">$ 20,000</option>
                <option value="50000">$ 50,000</option>
                <option value="100000">$ 100,000</option>
                <option value="200000">$ 200,000</option>
                <option value="300000">$ 300,000</option>
                <option value="400000">$ 400,000</option>
                <option value="500000">$ 500,000</option>
                <option value="600000">$ 600,000</option>
                <option value="700000">$ 700,000</option>
                <option value="800000">$ 800,000</option>
                <option value="900000">$ 900,000</option>
                <option value="1000000">$ 1,000,000</option>
                <option value="1500000">$ 1,500,000</option>
                <option value="2000000">$ 2,000,000</option>
                <option value="2500000">$ 2,500,000</option>
                <option value="3000000">$ 3,000,000</option>
                <option value="3500000">$ 3,500,000</option>
                <option value="4000000">$ 4,000,000</option>
                <option value="5000000">$ 5,000,000</option>
                <option value="7000000">$ 7,000,000</option>
                <option value="8000000">$ 8,000,000</option>
                <option value="9000000">$ 9,000,000</option>
                <option value="10000000">$ 10,000,000</option>
                <option value="1000000000">> $ 10 M</option>
            </select>
        </div>
    </div>
    <div class="tipo1">
        <div class="letrero">Hasta: </div>

        <div class="dropdown">
            <select id="ddlViewBy2" onchange="scheduleB.call(this, event)" class="form-control">
                <option value="2500">$ 2,500</option>
                <option value="5000">$ 5,000</option>
                <option value="10000">$ 10,000</option>
                <option value="20000">$ 20,000</option>
                <option value="50000">$ 50,000</option>
                <option value="100000">$ 100,000</option>
                <option value="200000">$ 200,000</option>
                <option value="300000">$ 300,000</option>
                <option value="400000">$ 400,000</option>
                <option value="500000">$ 500,000</option>
                <option value="600000">$ 600,000</option>
                <option value="700000">$ 700,000</option>
                <option value="800000">$ 800,000</option>
                <option value="900000">$ 900,000</option>
                <option value="1000000" selected="selected">$ 1,000,000</option>
                <option value="1500000">$ 1,500,000</option>
                <option value="2000000">$ 2,000,000</option>
                <option value="2500000">$ 2,500,000</option>
                <option value="3000000">$ 3,000,000</option>
                <option value="3500000">$ 3,500,000</option>
                <option value="4000000">$ 4,000,000</option>
                <option value="5000000">$ 5,000,000</option>
                <option value="7000000">$ 7,000,000</option>
                <option value="8000000">$ 8,000,000</option>
                <option value="9000000">$ 9,000,000</option>
                <option value="10000000">$ 10,000,000</option>
                <option value="1000000000">> $ 10 M</option>
            </select>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <div id="btn-close-a">
                        Iniciar Sesion
                    </div>
                    <div id="btn-close-b">
                        <button type="button" class="btn-close" onclick="clearAll();" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>

                <div class="card-body">
                    <input class="form-control mb-3" type="text" placeholder="Correo" required name="correo" id="correo" />
                    <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="contra" id="contra" />
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary boton-iniciar-sesion" type="submit">Iniciar Sesion</button>
                    </div>
                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        </div>
                    }
                    <div id="closes-a">
                        ¿No tienes una cuenta?
                        <div id="closes-b">
                            <a href="@Url.Action("Registrarse","Inicio")"> Regístrate!</a>
                        </div>
                        <div id="closes-c">
                            <a href="@Url.Action("CerrarSesion","hoME")">Cerrar Sesión</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalInmueble" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Inmueble</h1>
                <button type="button" class="btn-close" onclick="clearAll();" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="inmuebleForm">
                <div class="modal-body">
                    <div id="test1">
                        <div id="imgViewerContainer" style="overflow-x: auto; white-space: nowrap; max-width: 100%;">
                            <div id="imgViewer" style="display: inline-block;">
                                <!-- Aquí se mostrarán las miniaturas de las imágenes -->
                            </div>
                        </div>
                    </div>

                    <label id="lblFileUpload" class="btn btn-primary btn-fileupload" for="FileUpload1">
                        <input type="file" multiple="multiple" name="FileUpload1" id="FileUpload1" maximumnumberoffiles="20" onchange="ShowImagePreview(this);" style="display: none">
                        Upload images...
                    </label>

                    <div class="mb-3">
                        <select class="form-control" name="tipo" id="tipo" required>
                            <option value="" disabled selected>Seleccione el tipo de propiedad</option>
                        </select>
                        <div class="invalid-feedback" id="tipoError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Terreno" name="terreno" id="terreno" required />
                        <div class="invalid-feedback" id="terrenoError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Construcción" name="construccion" id="construccion" required />
                        <div class="invalid-feedback" id="construccionError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Precio" name="precio" id="precio" required />
                        <div class="invalid-feedback" id="precioError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Descripción" name="descripcion" id="descripcion" />
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Notas privadas" name="contacto_a" id="contacto_a" />
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="copyIdToClipboard">
                            <label class="form-check-label" for="copyIdToClipboard">Copiar</label>
                        </div>
                        <label id="ubicacion"></label>
                        <label id="telefono"></label>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <div class="left-buttons">
                            <button type="button" class="btn btn-danger boton-eliminar-inmueble">Eliminar</button>
                            <button type="button" class="btn btn-secondary" id="btnShare" onclick="shareItem()">Compatir</button>
                            <button type="button" class="btn btn-danger" id="btnClear" onclick="clearPreviewAndFields()">Limpiar</button>
                        </div>
                        <button type="button" class="btn btn-primary" id="btnPin" onclick="gotoLocation()"></button>
                        <div class="right-buttons">
                            <button type="submit" class="btn btn-success boton-guardar-inmueble" onclick="validateForm(event)">Guardar</button>
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-dialog-centered" id="modalImagenCompleta" tabindex="-1" role="dialog" aria-labelledby="modalImagenCompletaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end" id="modal-header-modalImagenCompleta">
                @* <h5 class="modal-title" id="modalImagenCompletaLabel">Imagen Completa</h5> *@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarmodalImagenCompleta">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div id="imageStrip" class="d-flex overflow-auto">
                    <!-- Las imágenes se insertarán dinámicamente aquí -->
                </div>
            </div>
            @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarmodalImagenCompleta">Cerrar</button>
            </div> *@
        </div>
    </div>
</div>





@section Scripts {
    <script src="~/js/index.js"></script>
    <script src="~/js/javascriptx.js"></script>
    <!-- Scripts de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

}
