@model maps4.Models.Data;
@{
    ViewData["Title"] = "RSMaps";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> @*Hace que los cajones del select se vean chidos*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link href="~/css/map.css" rel="stylesheet" />
<link href="~/css/modalInmueble.css" rel="stylesheet" />

<div id="map_canvas" style="width: 100%; height: 100vh;"></div>

<div id="toggle-satellite-btn" onclick="toggleSatellite()">
    <i class="fa fa-layer-group"></i>
</div>

<div id="marquesina-container">
    <div id="marquesina">
        <div id="comentarios">
            <!-- Los comentarios se cargarán dinámicamente aquí -->
        </div>
    </div>
</div>

<div id="pestana-anuncios" onclick="toggleMarquesina()"></div>
<div id="cortina-anuncios-container">
    <div id="anuncios-titulo">
        <button id="btn-disminuir" class="btn-flecha" onclick="cambiarVelocidad('disminuir', event)">&#9664;</button>
        Anuncios
        <button id="btn-aumentar" class="btn-flecha" onclick="cambiarVelocidad('aumentar', event)">&#9654;</button>
    </div>
    <div id="anuncios-scroll-container">
        <div id="cortina-anuncios">
@*             <p class="solicitar">Buen día busco terreno por el domingo Arrieta , Soriana madero , valle del sur pago en efectivo presupuesto 700,000.</p>
            <p class="solicitar">
                Hola buen día
                Busco Casa en Venta por la zona de San Isidro, que pueda dar diferencia, presupuesto de $968,000
                Si tienen algúna opción que me puedan compartir al personal.
                Gracias!!
                https://wa.me/5216182102529
            </p>
            <p class="solicitar">2 locales en renta max $9,000 por avenidas transitadas para negocio de comida rápida.618 323 6688.</p>
            <p class="solicitar">Se solicita casa en renta, presupuesto abierto, pero q acepten mascotas con espacios amplios cerca de libertad y dolores. Un perímetro de 10min max en carro. La ciénaga, las playas, HUIZACHE, azcapotzalco 618 323 6688.</p>
            <p class="solicitar">Se solicita casa en Venta 850 fovissste dentro de la mancha urbana 618 323 6688</p>
            <p class="solicitar">Se solicita casa en Venta $1,000,000 pago de contado. Artemisas, rancho san miguel, aranzazu, por este lado.618 323 6688.</p>
            <p class="solicitar">
                Hola, buen día, busco casa en renta en zona centro de 3 recámaras en delante, presupuesto abierto.
                Agradezco si tienen alguna opción que me la pueda a enviar al personal, gracias.
                https://wa.me/5216181327659.
            </p>
            <p class="solicitar">
                Hola buen día
                Busco Casa en venta por crédito Infonavit, por rumbos del 130 o de la UPD, presupuesto máximo de $1,400,000
                Si tienen algúna opción que me puedan compartir al personal.
                Gracias!!
                https://wa.me/5216182102529
            </p>
            <p class="solicitar">
                Buenos días, estoy buscando una casa de renta de referencia del cbtis 130 entre esas dos zonas. Presupuesto máximo de $6,500.
                Muchas gracias!! 618 163 0736.
            </p>
            <p class="solicitar">Buenas noches, estoy buscando una casa con un presupuesto máximo de $900,000 pesos con crédito Fovissste. El rumbo del real víctoria hasta el cbtis 110. Muchas gracias por sus opciones.618 163 0736.</p>
            <p class="solicitar">Compañeros buena tarde, busco bodega para forrajera por carretera México o Mezquital 700 metros o más, de renta, presupuesto máximo $50,000, quedó al pendiente de opciones directo a mi número personal.618 133 9640..</p>
            <p class="solicitar">
                Buen día

                Busco casa en renta tres recamaras , mínimo 2 baños y Cochera amplia cerrada .

                Presupuesto 10 a 15 mil

                Opciones x mensaje directo. 6181514324 Gracias.
            </p>
            <p class="solicitar">
                Buen dia
                Busco casa en renta por salida a Mazatlán, Analco, Tierra Blanca o centro
                Presupuesto 10mil. 6181514324
            </p>
            <!-- Clonamos el contenido para un desplazamiento continuo -->
            <p class="solicitar">Buen día busco terreno por el domingo Arrieta , Soriana madero , valle del sur pago en efectivo presupuesto 700,000.</p>
            <p class="solicitar">
                Hola buen día
                Busco Casa en Venta por la zona de San Isidro, que pueda dar diferencia, presupuesto de $968,000
                Si tienen algúna opción que me puedan compartir al personal.
                Gracias!!
                https://wa.me/5216182102529
            </p>
            <p class="solicitar">2 locales en renta max $9,000 por avenidas transitadas para negocio de comida rápida.618 323 6688.</p>
            <p class="solicitar">Se solicita casa en renta, presupuesto abierto, pero q acepten mascotas con espacios amplios cerca de libertad y dolores. Un perímetro de 10min max en carro. La ciénaga, las playas, HUIZACHE, azcapotzalco 618 323 6688.</p>
            <p class="solicitar">Se solicita casa en Venta 850 fovissste dentro de la mancha urbana 618 323 6688</p>
            <p class="solicitar">Se solicita casa en Venta $1,000,000 pago de contado. Artemisas, rancho san miguel, aranzazu, por este lado.618 323 6688.</p>
            <p class="solicitar">
                Hola, buen día, busco casa en renta en zona centro de 3 recámaras en delante, presupuesto abierto.
                Agradezco si tienen alguna opción que me la pueda a enviar al personal, gracias.
                https://wa.me/5216181327659.
            </p>
            <p class="solicitar">
                Hola buen día
                Busco Casa en venta por crédito Infonavit, por rumbos del 130 o de la UPD, presupuesto máximo de $1,400,000
                Si tienen algúna opción que me puedan compartir al personal.
                Gracias!!
                https://wa.me/5216182102529
            </p>
            <p class="solicitar">
                Buenos días, estoy buscando una casa de renta de referencia del cbtis 130 entre esas dos zonas. Presupuesto máximo de $6,500.
                Muchas gracias!! 618 163 0736.
            </p>
            <p class="solicitar">Buenas noches, estoy buscando una casa con un presupuesto máximo de $900,000 pesos con crédito Fovissste. El rumbo del real víctoria hasta el cbtis 110. Muchas gracias por sus opciones.618 163 0736.</p>
            <p class="solicitar">Compañeros buena tarde, busco bodega para forrajera por carretera México o Mezquital 700 metros o más, de renta, presupuesto máximo $50,000, quedó al pendiente de opciones directo a mi número personal.618 133 9640..</p>
            <p class="solicitar">
                Buen día

                Busco casa en renta tres recamaras , mínimo 2 baños y Cochera amplia cerrada .

                Presupuesto 10 a 15 mil

                Opciones x mensaje directo. 6181514324 Gracias.
            </p>
            <p class="solicitar">
                Buen dia
                Busco casa en renta por salida a Mazatlán, Analco, Tierra Blanca o centro
                Presupuesto 10mil. 6181514324
            </p> *@
        </div>
    </div>
</div>


<div id="contenido-superior-derecho" class="boton-nuevo-acceso">
    <a id="lnkAcceso" class="btn-acceso boton-nuevo-acceso" data-bs-dismiss="modal">Iniciar Sesión</a>
    @if (ViewData["Mensaje"] != null)
    {

        <a id="lnkAcceso" class="btn-acceso boton-nuevo-acceso" data-bs-dismiss="modal">
            @ViewData["Mensaje"]
        </a>
    }
</div>
<div id="over_map">

    <a href="#" id="btnModal" class="float" onclick="toggleMenu()"><i class="fa fa-plus my-float"></i></a>

    <div id="menu-flotante" class="menu-flotante" style="display: none;">
        <a href="javascript:void(0);" onclick="iniciarSesion()" class="btn btn-info">Iniciar Sesión</a>
        <a href="javascript:void(0);" onclick="registrarse()" class="btn btn-info">Registrarse</a>
@*         <a href="javascript:void(0);" onclick="toggleMarquesina()" class="btn btn-info">Ver Anuncios</a> *@
        <a href="/comentarios" class="btn btn-info">Ver Comentarios</a>
    </div>

    <div class="tipo1">
        <div class="letrero">Tipo: </div>

        <div class="dropdown">
            <select class="form-control" id="cboTipoPropiedad" onchange="showMan(this)"></select>
        </div>
    </div>
    <div class="tipo1">
        <div class="letrero">Desde: </div>

        <div class="dropdown">
            <select id="ddlViewBy" onchange="scheduleA.call(this, event)" class="form-control">
                <option value="2500" selected="selected">$ 2,500</option>
                <option value="5000">$ 5,000</option>
                <option value="10000">$ 10,000</option>
                <option value="20000">$ 20,000</option>
                <option value="50000">$ 50,000</option>
                <option value="100000">$ 100,000</option>
                <option value="200000">$ 200,000</option>
                <option value="300000">$ 300,000</option>
                <option value="400000">$ 400,000</option>
                <option value="500000">$ 500,000</option>
                <option value="600000">$ 600,000</option>
                <option value="700000">$ 700,000</option>
                <option value="800000">$ 800,000</option>
                <option value="900000">$ 900,000</option>
                <option value="1000000">$ 1,000,000</option>
                <option value="1500000">$ 1,500,000</option>
                <option value="2000000">$ 2,000,000</option>
                <option value="2500000">$ 2,500,000</option>
                <option value="3000000">$ 3,000,000</option>
                <option value="3500000">$ 3,500,000</option>
                <option value="4000000">$ 4,000,000</option>
                <option value="5000000">$ 5,000,000</option>
                <option value="7000000">$ 7,000,000</option>
                <option value="8000000">$ 8,000,000</option>
                <option value="9000000">$ 9,000,000</option>
                <option value="10000000">$ 10,000,000</option>
                <option value="1000000000">> $ 10 M</option>
            </select>
        </div>
    </div>
    <div class="tipo1">
        <div class="letrero">Hasta: </div>

        <div class="dropdown">
            <select id="ddlViewBy2" onchange="scheduleB.call(this, event)" class="form-control">
                <option value="2500">$ 2,500</option>
                <option value="5000">$ 5,000</option>
                <option value="10000">$ 10,000</option>
                <option value="20000">$ 20,000</option>
                <option value="50000">$ 50,000</option>
                <option value="100000">$ 100,000</option>
                <option value="200000">$ 200,000</option>
                <option value="300000">$ 300,000</option>
                <option value="400000">$ 400,000</option>
                <option value="500000">$ 500,000</option>
                <option value="600000">$ 600,000</option>
                <option value="700000">$ 700,000</option>
                <option value="800000">$ 800,000</option>
                <option value="900000">$ 900,000</option>
                <option value="1000000" selected="selected">$ 1,000,000</option>
                <option value="1500000">$ 1,500,000</option>
                <option value="2000000">$ 2,000,000</option>
                <option value="2500000">$ 2,500,000</option>
                <option value="3000000">$ 3,000,000</option>
                <option value="3500000">$ 3,500,000</option>
                <option value="4000000">$ 4,000,000</option>
                <option value="5000000">$ 5,000,000</option>
                <option value="7000000">$ 7,000,000</option>
                <option value="8000000">$ 8,000,000</option>
                <option value="9000000">$ 9,000,000</option>
                <option value="10000000">$ 10,000,000</option>
                <option value="1000000000">> $ 10 M</option>
            </select>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <div id="btn-close-a">
                        Iniciar Sesion
                    </div>
                    <div id="btn-close-b">
                        <button type="button" class="btn-close" onclick="clearAll();" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>

                <div class="card-body">
                    <input class="form-control mb-3" type="text" placeholder="Correo" required name="correo" id="correo" />
                    <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="contra" id="contra" />
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary boton-iniciar-sesion" type="submit">Iniciar Sesion</button>
                    </div>
                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        </div>
                    }
                    <div id="closes-a">
                        ¿No tienes una cuenta?
                        <div id="closes-b">
                            <a href="@Url.Action("Registrarse","Inicio")"> Regístrate!</a>
                        </div>
                        <div id="closes-c">
                            <a href="@Url.Action("CerrarSesion","hoME")">Cerrar Sesión</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalInmueble" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Inmueble</h1>
                <button type="button" class="btn-close" onclick="clearAll();" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="inmuebleForm">
                <div class="modal-body">
                    <div id="test1">
                        <div id="imgViewerContainer" style="overflow-x: auto; white-space: nowrap; max-width: 100%;">
                            <div id="imgViewer" style="display: inline-block;">
                                <!-- Aquí se mostrarán las miniaturas de las imágenes -->
                            </div>
                        </div>
                    </div>

                    <label id="lblFileUpload" class="btn btn-primary btn-fileupload" for="FileUpload1">
                        <input type="file" multiple="multiple" name="FileUpload1" id="FileUpload1" maximumnumberoffiles="20" onchange="ShowImagePreview(this);" style="display: none">
                        Upload images...
                    </label>

                    <div class="mb-3">
                        <select class="form-control" name="tipo" id="tipo" required>
                            <option value="" disabled selected>Seleccione el tipo de propiedad</option>
                        </select>
                        <div class="invalid-feedback" id="tipoError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Terreno" name="terreno" id="terreno" required />
                        <div class="invalid-feedback" id="terrenoError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Construcción" name="construccion" id="construccion" required />
                        <div class="invalid-feedback" id="construccionError"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Precio" name="precio" id="precio" required />
                        <div class="invalid-feedback" id="precioError"></div>
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Descripción" name="descripcion" id="descripcion" rows="1" style="resize: none; overflow-y: auto;" oninput="autoResize(this)"></textarea>
                    </div>


                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Notas privadas" name="contacto_a" id="contacto_a" />
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="copyIdToClipboard">
                            <label class="form-check-label" for="copyIdToClipboard">Copiar</label>
                        </div>
                        <label id="ubicacion"></label>
                        <label id="telefono"></label>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <div class="left-buttons">
                            <button type="button" class="btn btn-danger boton-eliminar-inmueble">Eliminar</button>
                            <button type="button" class="btn btn-secondary" id="btnShare" onclick="shareItem()">Compatir</button>
                            <button type="button" class="btn btn-danger" id="btnClear" onclick="clearPreviewAndFields()">Limpiar</button>
                        </div>
                        <button type="button" class="btn btn-primary" id="btnPin" onclick="gotoLocation()"></button>
                        <div class="right-buttons">
                            <button type="submit" class="btn btn-success boton-guardar-inmueble" onclick="validateForm(event)">Guardar</button>
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-dialog-centered" id="modalImagenCompleta" tabindex="-1" role="dialog" aria-labelledby="modalImagenCompletaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end" id="modal-header-modalImagenCompleta">
                @* <h5 class="modal-title" id="modalImagenCompletaLabel">Imagen Completa</h5> *@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarmodalImagenCompleta">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div id="imageStrip" class="d-flex overflow-auto">
                    <!-- Las imágenes se insertarán dinámicamente aquí -->
                </div>
            </div>
            @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarmodalImagenCompleta">Cerrar</button>
            </div> *@
        </div>
    </div>
</div>


<script>
    // Función para cargar comentarios desde el servidor
    async function cargarComentarios() {
        try {
            const response = await fetch("Comentarios/GetComentariosActivos");
            if (!response.ok) {
                throw new Error("Error al cargar los comentarios");
            }

            const comentarios = await response.json();
            const container = document.getElementById("cortina-anuncios");
            container.innerHTML = "";

            comentarios.forEach(comentario => {
                const comentarioDiv = document.createElement("div");
                comentarioDiv.className = "comentario";
                comentarioDiv.innerHTML = `<p><strong>${comentario.nivel}:</strong> ${comentario.comentarioTexto}</p>`;
                container.appendChild(comentarioDiv);
            });
        } catch (error) {
            console.error("Error al cargar los comentarios:", error);
        }
    }

    // Cargar los comentarios cada 30 segundos
    setInterval(cargarComentarios, 30000);

    // Cargar comentarios al iniciar
    cargarComentarios();
</script>


@section Scripts {
    <script src="~/js/index.js"></script>
    <script src="~/js/javascriptx.js"></script>
    <!-- Scripts de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

}
