body {
    overflow-y: auto;
    height: 95vh;
}

.container {
    height: calc(100% - 5px);
    overflow: hidden;
}

.comentario {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#comentarios-container {
    max-height: 100%;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.content-wrapper {
    display: flex;
    height: calc(100% - 50px);
    align-items: stretch;
    overflow: hidden;
}

.content-section {
    flex: 1;
    padding: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column; /* Cambia la orientación a columna */
        height: auto; /* Permite que el contenido se ajuste dinámicamente */
    }

    .content-section {
        padding: 10px 0; /* Ajusta los márgenes para pantallas más pequeñas */
    }

        .content-section:nth-child(1) {
            order: 2; /* Mueve la sección de comentarios a la segunda posición */
        }

        .content-section:nth-child(2) {
            order: 1; /* Mueve la sección de "Deja tu comentario" a la primera posición */
        }

    /* Asegura que la lista de comentarios tenga scroll si es necesario */
    #comentarios-container {
        max-height: 50vh; /* Ajusta la altura máxima en pantallas pequeñas para permitir el desplazamiento */
        overflow-y: auto; /* Barra de desplazamiento si hay muchos comentarios */
    }
}
