html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden !important; /* Oculta la barra de desplazamiento vertical */
}

/* Botón estilo "capas" en la parte inferior izquierda */
#toggle-satellite-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

    /* Estilo del ícono dentro del botón */
    #toggle-satellite-btn i {
        font-size: 24px;
        color: #333;
    }

#map_canvas {
    position: relative;
    height: 100vh;
    width: 100%;
}


#over_map {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: auto;
}

    #over_map .tipo1 {
        float: left;
        clear: both;
        margin-top: 4px;
    }

    #over_map .dropdown {
        float: left;
    }

.letrero {
    font-size: small;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 23px;
}

.btn-acceso {
    cursor: pointer;
}

#contenido-superior-derecho {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
}

.card-header #btn-close-a {
    width: 49%;
    display: inline-block;
}

.card-header #btn-close-b {
    width: 49%;
    text-align: right;
    display: inline-block;
}

#closes-a {
    width: 99%;
    display: inline-block;
}

#closes-b {
    width: 30%;
    text-align: left;
    display: inline-block;
}

#closes-c {
    width: 32%;
    text-align: right;
    display: inline-block;
}

.btn-fileupload {
    float: right;
    margin-bottom: 5px;
    margin-top: -10px;
}

#imgViewerContainer {
    overflow-x: auto; /* Permite desplazamiento horizontal */
    overflow-y: hidden; /* Oculta el desplazamiento vertical */
    white-space: nowrap;
    max-width: 100%;
    height: auto;
    scrollbar-width: thin; /* Hace que la barra de desplazamiento sea delgada en Firefox */
}

    #imgViewerContainer::-webkit-scrollbar {
        height: 4px; /* Reduce la altura de la barra de desplazamiento para Chrome y Safari */
    }

    #imgViewerContainer::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
    }

    #imgViewerContainer::-webkit-scrollbar-thumb {
        background: #888; /* Color del cursor de la barra de desplazamiento */
        border-radius: 2px; /* Bordes redondeados del cursor */
    }

        #imgViewerContainer::-webkit-scrollbar-thumb:hover {
            background: #555; /* Color del cursor cuando se pasa el mouse por encima */
        }

#lblFileUpload {
    margin-top: 3px;
}

#imgViewer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 50px;
    margin-bottom: 2px;
}

    #imgViewer .item {
        display: inline-block;
    }

    #imgViewer img {
        max-height: 50px;
        margin-left: 2px;
    }

#imageStrip {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

    #imageStrip img {
        max-height: 500px;
        margin-right: 10px;
    }

.modal-footer .left-buttons,
.modal-footer .right-buttons {
    display: flex;
    gap: 3px; /* Ajusta el espacio entre los botones según sea necesario */
}

.modal-footer .left-buttons {
    margin-right: auto;
}

.modal-footer .right-buttons {
    margin-left: auto;
}

.modal-content {
    margin: 0 auto; /* Asegura que los modales no se traslapen */
}

#ubicacion {
    text-align: right;
}

#btnPin {
    background: url('/images/marker.png') no-repeat center center; /* Ajusta la ruta según sea necesario */
    background-size: contain;
    /*width: 40px;*/ /* Ajusta el ancho según sea necesario */
    /*height: 60px;*/ /* Ajusta la altura según sea necesario */
    border: none;
    cursor: pointer;
    outline: none;
}



/* Menú flotante para dispositivos móviles */
.menu-flotante {
    position: fixed;
    bottom: 70px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*.gm-fullscreen-control {
    top: 35px !important;*/ /* Mueve el botón 70px más abajo */
/*}*/

