html, body {
    margin: 0;
    padding: 0;
}

#map_canvas {
    height: 100vh;
    width: 100%;
}

#over_map {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:auto;
    /*float: left;*/
    /*clear:both;*/
}

    #over_map .tipo1 {
        float: left;
        clear: both;
        margin-top: 4px;
    }


    #over_map .dropdown {
        float: left;
    }

.letrero {
    font-size:small;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 23px;
}

.btn-acceso {
    /*    position: absolute;
    top: 10px;
    left: 10px;
    z-index: auto;*/
    /*float: left;*/
    /*clear:both;*/
    cursor: pointer;
}

#contenido-superior-derecho {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo con transparencia */
    padding: 3px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    z-index: 999; /* Asegúrate de que esté sobre cualquier otro contenido */
    cursor: pointer;
}


