html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden !important;
}

#map_canvas {
    height: 100vh;
    width: 100%;
}

#over_map {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:auto;
    /*float: left;*/
    /*clear:both;*/
}

    #over_map .tipo1 {
        float: left;
        clear: both;
        margin-top: 4px;
    }


    #over_map .dropdown {
        float: left;
    }

.letrero {
    font-size:small;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 23px;
}

.btn-acceso {
    /*    position: absolute;
    top: 10px;
    left: 10px;
    z-index: auto;*/
    /*float: left;*/
    /*clear:both;*/
    cursor: pointer;
}

#contenido-superior-derecho {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo con transparencia */
    padding: 3px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    z-index: 999; /* Asegúrate de que esté sobre cualquier otro contenido */
    cursor: pointer;
}

.card-header #btn-close-a {
    width: 49%;
    /*background-color: aqua;*/
    display: inline-block;
}

.card-header #btn-close-b {
    width: 49%;
    /*background-color: aqua;*/
    text-align: right;
    display: inline-block;
}

#closes-a {
    width: 99%;
    /*background-color: aqua;*/
    display: inline-block;
}
#closes-b {
    width: 30%;
    /*background-color: aqua;*/
    text-align: left;
    display: inline-block;
}
#closes-c {
    width: 32%;
    /*background-color: aqua;*/
    text-align: right;
    display: inline-block;
}

.btn-fileupload {
    float: right;
    margin-bottom:5px;
    margin-top: -10px;
}

#imgViewerContainer {
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Añade scroll vertical si es necesario */
}

#imgViewerContainer img {
    display: block; /* Asegura que cada imagen sea un bloque independiente */
    margin-bottom: 10px; /* Espacio entre cada imagen */
}

#lblFileUpload{
    margin-top:3px;
}

#imgViewer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 50px;
    margin-bottom: 2px;
}

    #imgViewer .item {
        display: inline-block;
    }

    #imgViewer img {
        max-height: 50px;
        margin-left: 2px;
    }

#imageStrip {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

    #imageStrip img {
        max-height: 500px;
        margin-right: 10px;
    }


.modal-footer .left-buttons,
.modal-footer .right-buttons {
    display: flex;
    gap: 10px; /* Ajusta el espacio entre los botones según sea necesario */
}

.modal-footer .left-buttons {
    margin-right: auto;
}

.modal-footer .right-buttons {
    margin-left: auto;
}


.modal-content {
    margin: 0 auto; /* Asegura que los modales no se traslapen */
}

