<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre esta propiedad: Casa en Venta</title>

    <!-- Metadatos Open Graph -->
    <meta property="og:image" content="https://rsmap.azurewebsites.net/Cargas/143_1.jpg" />
    <meta property="og:image:alt" content="Vista previa del inmueble" />
    <meta property="og:title" content="Descubre esta propiedad: Casa en Venta" />
    <meta property="og:description" content="Casa Ubicada en Brisas Diamante $2,300,000  Construcción: 160 m2  3 Recámaras | 2.5 Baños  Casa nueva en venta, Ubicada en Brisas Diamante, cuenta con: *3 recámaras. *2.5 baños. *cocina integral con barra de granito. *clóset y vestidor en recámaras. superficie terreno: 141.60 m2 superficie construcción: 160 m2" />
    <meta property="og:url" content="https://rsmap.azurewebsites.net/share/?inmuebleId=143" />
    <meta property="og:type" content="website" />
</head>
<body>
    <h1>Descubre esta propiedad:</h1>
    <p>Casa Ubicada en Brisas Diamante $2,300,000  Construcción: 160 m2  3 Recámaras | 2.5 Baños  Casa nueva en venta, Ubicada en Brisas Diamante</p>
    <img src="https://rsmap.azurewebsites.net/Cargas/143_1.jpg" alt="Vista previa del inmueble" />
</body>
</html>
