@model maps4.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Iniciar Sesion
                    </div>
                    <div class="card-body">

                        <form asp-controller="Inicio" asp-action="Registrarse" method="post" id="registrationForm">

                            <input class="form-control mb-3" type="text" placeholder="Nombres" asp-for="nombres" required />
                            <input class="form-control mb-3" type="text" placeholder="Apellido paterno" required asp-for="aPaterno" />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="contra" id="password" />
                            <input class="form-control mb-3" type="password" placeholder="Repetir contraseña" id="confirmPassword" />
                            <input class="form-control mb-3" type="text" placeholder="Teléfono" required asp-for="telefono" />
                            <input class="form-control mb-3" type="email" placeholder="Correo" required asp-for="correo" id="email" />
                            <div id="error-message" class="text-danger mb-3"></div>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit" id="registerBtn" disabled>Registrate</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿Ya tienes una cuenta? <a href="@Url.Action("Index","Home")">Iniciar Sesion</a>

                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/registerscript.js"></script>
</body>
</html>
